@import "/src/css/base/resets.css";

.tic-toe-board {
    width: 100vw;
    height: 100vh;
}

.cell {
    border: solid 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* Top Column */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

/* Border Left */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

/* Right Column */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

/* Bottom Row */
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

/* Cross */
.markx::before,
.markx::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-width) * .2);
    height: calc(var(--mark-height) * .9);
    background-color: black;
    border-radius: 5px;
}

.markx::before {
    transform: rotate(45deg)
}

.markx::after {
    transform: rotate(-45deg)
}

/* Circle */
.marko::before,
.marko::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-width) * 1);
    height: calc(var(--mark-height) * 1);
    background-color: black;
    border-radius: 100%;
}

.marko::before {
    width: calc(var(--mark-width) * .9);
    height: calc(var(--mark-height) * .9);
    background-color: black;
}

.marko::after {
    width: calc(var(--mark-width)* .7);
    height: calc(var(--mark-height) * .7);
    background-color: white;

}
