/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --ft-fm: "Poppins";
  /*---font weights---*/
  --lg-fw: "800";
  --md-fw: "600";
  --sm-fw: "400";
  /*--- font sizes ---*/
  --fs-800: 6.25rem;
  --fs-600: 2rem;
  --fs-400: 1.125rem;
  /*colors*/
  --prime-clr: rgb(255, 250, 243);
  --secondary-clr: rgb(255, 242, 219);
  --tertiary-clr: rgb(255, 229, 191);
  --fnal-clr: rgb(246, 36, 64);

}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  line-height: 1px;
  min-height: 100vh;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}
