/font-face* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('..assets/fonts/roboto-v51-latin-700.woff2') format('woff2'); 
}

*, ::before, ::after {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: inline-grid;
  gap: 10px;
  grid-template-columns: 25% 100vw; 
  grid-template-rows: repeat(7, 100%);

}
.sidebar {
  background-color: black;
  grid-row: 1/7;
}

.navigation {
  background-color: green;
}
.navigation {
  background-color: green;
}
.content {
  background-color: red;
}