@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assests/fonts/roboto-v51-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/roboto-v51-latin-700.woff2') format('woff2');
}

*,
::before,
::after {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Roboto';
  font-weight: 700;
}
a {
  text-decoration: none;
  color: white;
}
menu li {
  font-family: 'Roboto';
  list-style-type: none;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
}

.sidebar {
  background-color: skyblue;
  grid-row: 1/6;
  box-shadow: 2px 12px 20px 1px hsla(244, 94%, 41%, 0.479);
  height: 100vh;
  display: flex;
  align-content: center;
}
.sidebar-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3em;
  align-content: ;
}

.sidebar-logo{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.sidebar-main-logo {
  width: 20%;
  fill: white;
}

.sidebar-heading-title {
  color: white;
}
.sidebar-navigation-list{
  font-family: Roboto;
  font-weight: 700;
  line-height: 3.2em;
  padding: 4rem 0;
}
.navigation-list-set {
  padding: 4rem 0;
  line-height: 3.5em;
  font-family: Roboto;
  font-weight: 700;
}
.sidebar__navigationlistSet1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.dual-menu {
  display: flex;
  align-items: center;
  gap: 1em;
}

.navigation {
  grid-row: 1/2;
}

.content {
  grid-row: 2/6;
  grid-column: 2/3;
}
