@layer global {
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/assests/fonts/roboto-v51-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/roboto-v51-latin-700.woff2') format('woff2');
  }

  *,
  ::before,
  ::after {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3 {
    font-family: 'Roboto';
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: white;
  }

  p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.2em;
  }
}

menu li {
  font-family: 'Roboto';
  list-style-type: none;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
}

.sidebar {
  background-color: skyblue;
  grid-row: 1/6;
  height: 100vh;
  display: flex;
  align-content: center;
}
.sidebar-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.sidebar-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.sidebar-main-logo {
  width: 20%;
  fill: white;
}

.sidebar-heading-title {
  color: white;
}
.sidebar-navigation-list{
  font-family: Roboto;
  font-weight: 700;
  line-height: 3.2em;

}
.navigation-list-set {
  padding: 4rem 0;
  line-height: 3.5em;
  font-family: Roboto;
  font-weight: 700;
}
.sidebar__navigationlistSet1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}
.dual-menu {
  display: flex;
  align-items: center;
  gap: 1em;
  fill: currentColor;
}
/* Top Navigation styles begin from here */

.navigation { /*Top Search bar. Includes the top nav bar as well */
  background-color:lightpink;
  grid-row: 1/2; }


/* Main Cards styles are found here  */
.content {
  grid-row: 2/6;
  grid-column: 2/3;
}
