@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: Norse;
  src: url(assets/Norse.otf);
}
@font-face {
  font-family: Norse-Bold;
  src: url(assets/Norsebold.otf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(assets/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Italic;
  src: url(assets/Poppins-Italic.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(assets/Poppins-Bold.ttf);
}

:root {
  --primary-color: #f2f2f2;
  --secondary-color: #2f5904;
  --third-color: #214003;
  --fourth-color: #60734d;
  --fifth-color: #d9a3a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items:center;
}

header {
  font-family: Poppins-Regular;
  font-size: 1.3em;
}

p {
  font-family: Poppins-Regular;
  font-size: 1em;
}
.left-side_contents {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: auto;
  height: 100vh;
  display: flex;
  flex:1;
}

.left_side_title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background-color: hsla(0, 0%, 0%, 0.603);
  transform: translate(0,125px);
  column-gap: 1em;
  width: 100%;
}

.main_logo {
  width: 15%;
  height: auto;
  aspect-ratio: 1/1;
}
#logo-text {
  font-family: Norse-Bold;
  font-size: 6rem; 
  color: var(--primary-color);
}

.right_side_container {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100vh;
  justify-content: space-evenly;
  padding: 50px;
  padding-right: 200px;
  background: var(--secodary-color);
}
.right_side_heading {
  align-items: start;
  margin-bottom: 0px;
  font-family: Poppins-Bold;
  font-weight: bold;

}

.right_side_form {
  justify-items: center;
  font-size: 1.25em;
}
.right_side_footer {
  align-items: revert
}
.right_side_footer p:nth-child(2) {
  padding-top:15px;
}

.form_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0 solid;
  align-items: center;
}

button {
  padding: 14px;
  font-size: 16px;
  border-radius: 9px;
  font-family: Poppins-Regular;
  font-weight: normal;
  background-color: var(--third-color);
  color: var(--primary-color);
}
input {
  padding: 10px 10px;
  font-size:15px;
  border-radius: 4px;
}

