@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: Norse;
    src: url(assets/Norse.otf);
}
@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norsebold.otf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Italic;
    src: url(assets/Poppins-Italic.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(assets/Poppins-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

header {
    font-family: Poppins-Regular;
    font-size: 1.3em;
}

p {
    font-family: Poppins-Regular;
    font-size: 1em;
}
.left-side_contents {
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    flex:1;
}

.left_side_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background-color: hsla(0, 0%, 0%, 0.4);
    transform: translate(0,125px);
    column-gap: 1em;
    width: 100%;
}

.main_logo {
    width: 15%;
    height: auto;
    aspect-ratio: 1/1;
}
#logo-text {
    font-family: Norse-Bold;
    font-size: 6rem; 
    color: white;
}

.right_side_container {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100vh;
    justify-content: space-evenly;
    padding-left: 1.3em;
    gap: 43px;
    background: lightpink;
}
.right_side_heading {
    align-items: start;
    margin-bottom: 0px;

}

.right_side_form {
    justify-items: center;
    font-size: 1.25em;
}
.right_side_footer {
  align-items: revert
}

