.flx-rw {
    display: flex;
    gap: 1rem;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.grd {
    display: grid;
}

.grd-col {
    grid-template-columns: repeat(3, 8rem);
}

.grd-row {
    grid-template-rows: repeat(3, 8rem);
}

.jstfy-ctr {
    justify-content: center;
}

.jstfy-slf-ctr {
    justify-self: center;
}

.jstfy-itms-ctr {
    justify-items: center;
}

.align-ctr {
    align-content: center;
}

.align-slf-ctr {
    align-self: center;
}

.align-itms-ctr {
    align-items: center;
}

.container {
    width: 100%;
    padding: 1em 2em;
}

.justify-spbtw {
    justify-content: space-between;
    justify-items: space-between;
}

.gap-lap {
    gap: calc(100vw / 5);
}

.gap-mob {
    gap: calc(100vw / 8);
}
