:root {
    --bkgd-clr: #293681;
    --txt-clor: #95ccdd;
    --btn-clor: #4274d9;
    --btn-clr-hover: #d0e7e6;
}

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0px;
    width: 100%;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

img,
picture {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select {
    font: inherit;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
