@import "./css/base/resets.css";

.btn {
    background-color: var(--btn-clor);
    text-align: center;
    border-radius: 5px;
    padding: 0 5px;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--btn-clr-hover);
    color: black;
}
