@import "/css/base/resets.css";

.card {
    position: relative;
    padding: 1rem;
    box-shadow: -1px -1px 15px 1px black;
    background-color: var(--card-clr);
}
.card:hover {
    padding: 1rem;
    box-shadow: -1px -1px 13px 1px black;
}
